<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"
	th:replace="~{layout/common::layout(~{this::head}, ~{this::main})}">
<head>
	<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
	<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/js/admin/admin.js"></script>
	<link rel="stylesheet" href="/css/admin.css">
</head>
<main>
	<section id="goods-wrte" class="flex center" >
		<h1>상품등록</h1>
		<div class="wrap">
			
			
			<form id="form-goods">
				<ul>
					
					<li>
						<label>상품명</label>
						<input type="text" name="title" >
						
					</li>
					<li>
						<label>판매가</label>
						<input type="text" name="price" placeholder="숫자만 입력"><span>원</span>
					</li>
					
					<li>
						<label>상품이미지</label>
						<div class="def-img">
							<span>대표이미지</span>
							<div class="img-wrap">
								<label class="pre-img"><input type="file" onchange="tempUpload(this)"></label>
								<input type="hidden" class="tempKey" name="tempKey">
								<input type="hidden" class="orgName" name="orgName">
								<input type="hidden" class="newName" name="newName">
								<input type="hidden" class="def" name="def" value="true">
							</div>
							<pre><!-- 
							 -->권장 크기 : 1000 x 1000 (윈도대상 750 x 1000)
<!--                         -->대표이미지 기준 1000x1000 이상 이미지를 등록하시면, 이미지 확대 기능이 제공됩니다.
                         
							</pre>
						</div>	
					
					</li>
					<li>
						<label>상세설명</label>
						<textarea name="content"></textarea>
					</li>
					
					<li>
						<button type="button" onclick="goodsSummited()">상품등록</button>
					</li>
				</ul>
			</form>
		</div>
	</section>
</main>	
</html>