<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"
	xmlns:sec="//www.thymeleaf.org/extras/spring-security"
	th:fragment="layout(head,main)">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
         <script src="/webjars/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <th:block th:replace="${head}">
    </head>
    <body>
    	<th:block th:replace="~{layout/header}" />
        <th:block th:replace="${main}" />
        <th:block th:replace="~{layout/footer}" />
    </body>
</html>