<!DOCTYPE html>
<html>
    <header>
	    <div class="header">
	    	<h1>헤더영역</h1>
	    	
	    	<div class="up-area flex between">
		    	<div class="logo">
		    		<i><a href="/">장원재 홈페이지</a></i>
		    	</div>
		    	    	
		    	<div class="up-right-area flex end">
			    		<a href="/login">로그인</a>		    	
				    	<a href="/signup">회원가입</a>
			    </div>
		    </div>
	    	<div class="down-area flex center">
	    		<ul class="flex">
	    			<li>
	    				<span><a href="">메뉴</a></span>
	    			</li>
	    			<li>
	    				<span><a href="">e-쿠폰</a></span>
	    			</li>
	    			<li>
	    				<span><a href="">상품권 선물</a></span>
	    			</li>
	    			<li>
	    				<span><a href="">이벤트·제휴</a></span>
	    			</li>
	    			<li>
	    				<span><a href="">매장검색</a></span>
	    			</li>
	    			<li class="shop">
	    				<span><a href="">가맹점 모집</a></span>
	    			</li>
	    			
	    		</ul>
	    	</div>
    	</div>
    </header>
</html>