<!DOCTYPE html>
<html xmlns:sec="//www.thymeleaf.org/extras/spring-security">
    <header>
	    <div class="header">
	    	<h1>헤더영역</h1>
	    	
	    	<div class="up-area flex between">
		    	<div class="logo">
		    		<i><a href="/">피자집</a></i>
		    	</div>
		    	
		    	
		    	<div sec:authorize="isAnonymous()" class="up-right-area flex end">
			    		
			    		<div>
				    		<a href="/login">로그인</a>		    	
					    	<a href="/signup">회원가입</a>
					    	<a href="/qna">고객센터</a>					    	
				    	</div>
			    </div>
			    <div sec:authorize="isAuthenticated()" class="flex">
			    	<div class="username">
			    		<span sec:authentication="name"></span>	
			    		<span class="nim">님</span>	
		    		</div>
			    	<form action="/logout" method="post">
			    		<button class="logout-btn">로그아웃</button>	
			    		<a href="/admin/write">관리자 페이지</a>	
			    		<a href="/qna">고객센터</a>		    		
			    	</form>
			    	<div sec:authorize="hasRole('ROLE_USER')" >
						<a href="/boards">게시글</a>	
										
					</div>			    	
			    </div>
			    
		    </div>
	    	<div class="down-area flex center">
	    		<ul class="flex">
	    			<li>
	    				<span><a href="/menu">메뉴</a></span>
	    			</li>
	    			<li>
	    				<span><a href="/coupon">e-쿠폰</a></span>
	    			</li>
	    			<li>
	    				<span><a href="">상품권 선물</a></span>
	    			</li>
	    			<li>
	    				<span><a href="">이벤트·제휴</a></span>
	    			</li>
	    			<li>
	    				<span><a href="">매장검색</a></span>
	    			</li>
	    			<li class="shop">
	    				<span><a href="">가맹점 모집</a></span>
	    			</li>
	    			
	    		</ul>
	    	</div>
    	</div>
    </header>
</html>