<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
<head>

</head>
<body>
	<table>
	        	<tr>
	        		<td>글번호</td>
	        		<td th:text="${detail.no}"></td>
	        	</tr>
	        	<tr>
	        		<td>작성자</td>
	        		<td th:text="${detail.writer}"></td>
	        		
	        		<td></td>
	        	</tr>
	        	<tr>
	        		<td>제목</td>
	        		<td th:text="${detail.title}"></td>
	        	</tr>
	        	<tr>
	        		<td>내용</td>
	        		<td th:text="${detail.content}"></td>
	        	</tr>
	        </table>


</body>
</html>