<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
	<head>
	<script src="/js/qna.js"></script>
       <link rel="stylesheet" href="/css/qnaBoard.css">
		<script type="text/javascript">
			$(function(){
								
				restBoardList(1)
			});			
				
			
			function restBoardList(page){
				
				$.ajax({
					url:"/qna-board",
					type: "PATCH",
					data:{page:page},
					success:function(result){
						$("#board-list").html(result);
					}
					
				});
			}
		</script>
		
	</head>
	<main>
		
		<div id="board-list">
			
		</div>
	</main>
</html>