<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="/css/qnawrite.css">
    </head>
    <main id="join-form flex center">
	   	<div class="wrap  view-size">
				<form id="form-qna-write">
					<ul>
						<li class="id">
							<label>제목</label>
							<input type="text" name="title" placeholder="제목">
							
						</li>
						<li class="pw">
							<label>글작성</label>
							<input type="text" name="content" placeholder="글 내용 입력">
						</li>		
						<li>
							<label>이메일</label>
							<input type="text" name="email" placeholder="이메일">
						</li>				
						<li class="">
							<label>매장선택</label>
							<select>매장</select>
						</li>
						<li>
							<label>작성자</label>
							<input type="text" name="writer" placeholder="작성자">
						</li>
						
						
						<li class="submit flex center">
							<button class="btn-st" onclick="qnaSubmitted()">작성하기</button>
						</li>
					</ul>
				</form>
			</div>
	</main>
</html>