@charset "UTF-8";


.footer{
	padding-top: 30px;
	border-top: 1px solid #393939;	
}

footer {
  background-color: #FBF5F0;
  color: #333;
  padding-top: 50px;
  height: 270px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #555;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color: #777;
}