@charset "UTF-8";
.header{
	width:100%;
	border-bottom: 1px solid #a9a9a9;
	
}
.up-area{
	width: 1200px;
	
	padding: 30px 0;
	justify-content: space-between;
	margin: 0 auto;
}
.logo>i>a{
	font-size: 25px;
	font-weight: bold;
	color: blue;
}
.up-area>.up-right-area>a:nth-of-type(1){
	margin-right: 20px;
}
.up-area>.up-right-area a{
	font-weight: bold;
	margin-left: 20px;
	color: black;
}
.down-area> ul{
	border-top: 1px solid #a9a9a9;
}
.username{
	text-align: center;
}
.nim{
	margin-right: 10px;
	text-align: center;
}
.up-area>.up-right-area>a{
	height: 25px;
	text-align: center;
	line-height: 25px;	
	color: #393939;
}
.down-area{
	width:1200px;
	margin:0 auto;
}

.down-area > ul{
	width:1200px;
}
.down-area > ul > li{
	list-style-type: none;
	margin: 0 auto;
}

.up-right-area{
	
	top:20px;
	right: -10px;
	
}
.down-area>.flex li:first-of-type span a{
	display: inline-block;
	line-height: 54px;
	font-size: 18px;
	padding-right: 60px;
	margin: 0;
	color: #393939;
	
}

.down-area>.flex li:nth-of-type(2) span a,
.down-area>.flex li:nth-of-type(3) span a,
.down-area>.flex li:nth-of-type(4) span a,
.down-area>.flex li:nth-of-type(5) span a{	
	display: inline-block;
	line-height: 54px;
	font-size: 18px;
	padding:0 60px;
	color: #393939;
	
	
}
.shop>span a{
	display: inline-block;
	line-height: 54px;
	font-size: 18px;
	padding-left:  60px;
	color: #393939;
	
}
