@charset "EUC-KR";
table{
	width: 1200px;
	border-collapse: collapse;
	border-bottom: 2px solid ;
}

table>tr:first-of-type>td{
	border-bottom: 1px solid;
}

td{
	padding: 25px;
}
td:nth-of-type(2) {
	padding-right: 70px;
}
#board-list > div > div.write > table > tbody > tr > td{
	border-bottom: 1px solid;
}

body > main > div.view-size > div > div.write > table > tbody > tr:nth-child(2) > td:nth-child(1){
	width: 50px;
	
}
body > main > div.view-size > div > div.write > table > tbody > tr:nth-child(1) > td:nth-child(2){
	width: 80px;
}


#page-wrap>ol>li{
	margin : 10px;
}

.qna-write{
	padding:10px;
	width: 80px;
	background-color: #bbbddb;
	font-size: 20px;
	justify-content: center;
	text-align: center;
}



.qna-write > a{
	color: black;
	font-weight: bold;
}