@charset "UTF-8";

.signup-up-area{
	width:900px;
	margin: 0 auto;
	height: 62px;
	border-bottom: solid 2px black;
}
.view-size{
	width:900px;
	margin: 0 auto;
}
label{
	display:inline-block;
	width:90px;
	border-right: solid 1px red;
}