<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"
	th:replace="~{layout/common::layout(~{this::head}, ~{this::main})}">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <link rel="stylesheet" href="/css/signin.css">
    </head>
    <main>
    	<div class="signin-up-area">
			<h2>로그인</h2>
		</div>
		<div class="view-size">
			<form action="/loginProc" method="post">
				<p>
		       		<input type="text" name="member" placeholder="아이디">
		    	</p>
		       	<p>
		        	<input type="password" name="password" placeholder="비밀번호">
		       	</p>
		       	<div th:if="${param.error}">
						<p>아이디 혹은 비밀번호가 올바르지 않습니다.</p>
				</div>
		       	<p>
		        	<button>로그인</button>
		       	</p>
		       	<p>
		        	<button type="button" onclick="location.href='/signup'">회원가입</button>
		       	</p>
	       	</form>
       	</div>
    </main>
</html>