<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"
	th:replace="~{layout/common::layout(~{this::head}, ~{this::main})}">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <link rel="stylesheet" href="css/signup.css"> 
    </head>
    <main id="join-form flex center">
		<h1>회원가입폼</h1>
		<div class="signup-up-area">
			<h2>회원가입</h2>
		</div>
		<div class="wrap  view-size">
			<form>
				<ul>
					<li class="id">
						<label>아이디</label>
						<input type="text">
						<button type="submit">중복확인</button>
					</li>
					<li class="pw">
						<label>비밀번호</label>
						<input type="password">
					</li>
					<li class="pw-re">
						<label>비밀번호 재확인</label>
						<input type="password">
					</li>
					<li class="name">
						<label>이름</label>
						<input type="text">
					</li>
					<li class="birth">
						<label>생년월일</label>
						<span class="birth-wrap">
							<input type="text" name="yy" placeholder="년(4자)">
							<select name="mm">
								<option selected="selected">월</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
							<input type="text" name="dd" placeholder="일">
						</span>
					</li>
					
					<li class="email">
						<label>본인 확인 이메일</label>
						<input type="text" placeholder="선택입력">
					</li>
					<li class="phone">
						<label>휴대전화</label>
						<select name="nationNo">
							<option selected="selected" value="82">대한민국 +82</option>
						</select>
						
					</li>
					<li class="submit">
						<button class="btn-st" type="submit">가입하기</button>
					</li>
				</ul>
			</form>
		</div>
	</main>
</html>