<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
<head>
      
        <link rel="stylesheet" href="/css/qna.css">
      	 <script src="/js/qna.js"></script>
</head>	
<main>   					
					<dl class="menu-wrap">
						<dt class="menu">
							예약주문은 어디서 하나요?
						</dt>
						<dd>
							<div>등록하기</div>
							
						</dd>
					</dl>
					<dl class="menu-wrap">
						<dt class="menu">
							<span>음료만 주문 가능한가요?</span>
						</dt>
						<dd>
							<div>등록하기</div>
							
						</dd>
					</dl>
					<dl class="menu-wrap">
						<dt class="menu">
							<span>전 매장 가격은 같은가요?</span>
						</dt>
						<dd>
							<div>등록</div>
							
						</dd>
					</dl>
					<dl class="menu-wrap">
						<dt class="menu">
							<span>결제수단에 현장결제를 선택할수 없어요</span>
						</dt>
						<dd>
							<div>등록</div>
							
						</dd>
					</dl>
					
	    	
    </main>   	
</html>