<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"
	th:replace="~{layout/common::layout(~{this::head}, ~{this::main})}">
    <head>
      
        <link rel="stylesheet" href="/css/qna.css">
        <script src="/js/qna.js"></script>
    </head>
    <main>
        <div class="qna-up-area">
			<h2>고객센터</h2>
			<div class="question">
				<ul class="flex">
					<li><a href="/faq" >자주하는 질문</a></li>
					<li><a href="/qna-board">문의하기</a></li>
				</ul>
			</div>
		</div>
		<div class="view-size">
			<div class="wrap">
				<div>		    		
					<!-- /////////////////////////////////////////// -->
					<!-- js/admin/menu.js-memuItemClicked()비동기로처리 -->
					<!-- /////////////////////////////////////////// -->
					
					
	    		</div>
    		</div>
       	</div>
		
    </main>
</html>