<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
    <head>
       <script src="/js/qna.js"></script>
    </head>
   
    	
	    	<div class="wrap">
		    	<div class="write">
			    	<table>
			    		<tr>
			    			<td>글번호</td>
			    			<td>제목</td>
			    			<td>작성자</td>
			    			<td>작성일</td>    			
			    		</tr>
			    		<tr>
			    			<td>글번호</td>
			    			<td>제목</td>
			    			<td>작성자</td>
			    			<td>작성일</td>    			
			    		</tr>
			    	</table> 
		    	</div>
		    	<a href="/qna-board/write">작성</a> 
	    	</div>   
    	 
    	 
    
</html>