<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.nowon.domain.dao.CouponMapper">

<select id="findCoupon" resultMap="com.green.nowon.domain.dto.CouponDTO">
	select * from coupon where name=#{query}
</select>


</mapper>